.footer {
  background-color: black;
  color: aliceblue;
  /* height: 120px; */
  display: grid;
  /* gap: 3    /0px; */
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.footer-block {
  margin: 20px 40px;
}
