.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home-body h1 {
  font-weight: 900;
  margin-top: 50px;
}

.home-body p {
  color: #1976d2;
}

/* all-links */
.home-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* left links */

.home-left-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-left-links p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.home-left-links p a {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #1976d2;
  font-weight: 600;
  text-decoration: none;
}
.home-left-links p a img {
  height: 100px;
}
/* divider */
.home-links-divider {
  width: 20px;
  background-color: black;
  height: 100%;
}

/* right links */

.home-right-links {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.home-right-links p {
  justify-content: center;
  align-items: center;
  display: flex;
}
.home-right-links p a {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #1976d2;
  font-weight: 600;
  text-decoration: none;
}
.home-right-links p a img {
  height: 100px;
}
