.notes-body {
  width: 100%;
}

/* top headder */
.notesHeading {
  display: flex;
  height: 100px;
}
.notesHeading div {
  display: flex;
}
.notesHeading div img {
  height: 80px;
}

.notesHeading div a img {
  height: 60px;
  margin-right: 50px;
}
.notesHeading-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesHeading-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* border */

.border {
  height: 3px;
  width: 100%;
  background-color: black;
}

/* body */
.searchNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchNav input {
  width: 70%;
  height: 40px;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
}
